<?php
// Database
define('DATABASE_HOST', '127.0.0.1');
define('DATABASE_NAME', 'allen_frame_trial');
define('DATABASE_USER', 'root');
define('DATABASE_PASSWORD', '');
define('DATABASE_CHARSET', 'utf8');
define('DATABASE_TABLE_PREFIX', 'tbl_');

// URI
define('URI_DOMAIN','http://localhost/');
define('URI_SITE_PATH','allen_frame_trial/');

define('URI_IMAGE_EXTERNAL', 'http://dev.top4.com.au/custom/domain_1/image_files/');

// Core Paths
define('PATH_BASE', '/wamp/www/allen_frame_trial/');

include_once('config_constant.php');