ErrorDocument 404 /404

# URL Rewrite
RewriteEngine On
RewriteBase /

RewriteRule ^(.*[^/]+)/+$ $1 [R=301,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9a-z_-]+)/([0-9a-z_-]+)/(.+)$ index.php?namespace=$1&instance=$2&extra_parameter=$3 [L,QSA]
RewriteRule ^default/([0-9a-z_-]*)$ $1 [R=301,L,QSA]
RewriteRule ^([0-9a-z_-]+)/([0-9a-z_-]+)$ index.php?namespace=$1&instance=$2 [L,QSA]
RewriteRule ^home$ . [R=301,L,QSA]
RewriteRule ^([0-9a-z_-]+)$ index.php?namespace=default&instance=$1 [L,QSA]
RewriteRule ^()$ index.php?namespace=default&instance=home [L,QSA]


# Leverage browser caching
AddType application/font-woff .woff
AddType application/font-woff2 .woff2
AddType text/javascript .js

ExpiresActive On
ExpiresByType application/font-woff "access 1 year"
ExpiresByType application/font-woff2 "access 1 year"
ExpiresByType application/vnd.ms-fontobject "access 1 year"
ExpiresByType application/x-font-ttf "access 1 year"
ExpiresByType font/* "access 1 year"
ExpiresByType image/svg+xml "access 1 year"
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType image/x-icon "access 1 year"
ExpiresByType application/pdf "access 1 year"
ExpiresByType text/css "access 1 week"
ExpiresByType text/html "access plus 1 week"
ExpiresByType text/javascript "access 1 week"
ExpiresByType text/x-javascript "access 1 week"
ExpiresDefault "access 2 days"

# Enable gzip compression
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE image/x-icon
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/x-font
AddOutputFilterByType DEFLATE application/x-font-truetype
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/x-font-otf
AddOutputFilterByType DEFLATE application/x-font-opentype
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE font/ttf
AddOutputFilterByType DEFLATE font/otf
AddOutputFilterByType DEFLATE font/opentype

# For Olders Browsers Which Can't Handle Compression
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html